.buttons{
    
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-box-shadow: 4px 7px 2px -5px rgba(0,0,0,0.46); 
    box-shadow: 4px 7px 2px -5px rgba(0,0,0,0.46);
}

.section-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-buttons button {
    font-size: 1.5em;
    margin: 50px;
    -webkit-box-shadow: 4px 7px 2px -5px rgba(0,0,0,0.46); 
    box-shadow: 4px 7px 2px -5px rgba(0,0,0,0.46);
}