@import url('https://fonts.cdnfonts.com/css/homer-simpson-revised');


body{

    font-family: 'Homer Simpson Revised', sans-serif;
}

.frasi-celebri {
    font-size: 1.8em;
}

.cards p {
    font-size: 1.6em;
}