@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Lato:ital,wght@1,100&family=Montserrat:ital,wght@1,400;1,600&family=Poppins:wght@100;200&family=Prata&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

.frasi-celebri {
    font-size: 1.8em;
}

.cards p {
    font-size: 1.6em;
}