
.navbar {
     
     @include flex-config(row, space-between, center, 30px);
     width: 100%;
 
 }
 
 .logo {
    height: 13vh;
    margin-left: 15px;
    padding: 0;
    border-radius: 50%; 
}
 
 
 
 .navbar-ul{
     @include flex-config(row, space-between, center, 50px);
     margin-right: 50px;
     list-style-type: none;
     text-decoration: none;
 }
 
 
 .navbar li{
     height: 5vh;
     width: 12vh;
     
     @include flex-center;
     font-size: 1.5em;
 }
 a{
     text-decoration: none;
 }
 